<br>
<div class="jumbotron">
  <h1>BookMarks</h1>
  <p>BookMarks is a social bookmarking app that allows users to email, manage and share bookmarked URLs.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>BookMarks gets it's savvy name from a decorated paper strip that one uses to save their place in a book. </h3>
    
  </div>
  <div class="col-md-4">
    <h3>BookMarks is easy and fun to use.</h3>
    
  </div>
  <div class="col-md-4">
    <h3>BookMarks is an invaluable resource, unless of course, you'd like to pay us a specific fee to use it.</h3>
    
  </div>
</div>

